*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.ptb
*.cut
*.sum
*.toc
*.nav
*.snm
*.vrb
*.run.xml
*.synctex.gz
*.agdai
auto/
latex/
.agdatex*
agda-generated*
*.pdf
supplement.zip
.mypy_cache
_build
signature.png